<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cell_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>cell_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,162},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,215},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,162},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,252},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,305},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,252},{90,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_a0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,395},{88,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,123},{90,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,70},{90,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,70},{90,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>dice_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,259},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>dice_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,332},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>dice_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,395},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>dice_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,342},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>dice_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,405},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>dice_r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,415},{71,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,74}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,177},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>opencard_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,132},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,70},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>shake_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{204,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,66}}</string>
                <key>sourceSize</key>
                <string>{204,66}</string>
            </dict>
            <key>shake_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{397,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,23}}</string>
                <key>sourceSize</key>
                <string>{397,23}</string>
            </dict>
            <key>total_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,265}}</string>
                <key>sourceSize</key>
                <string>{640,265}</string>
            </dict>
            <key>total_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tp-game.png</string>
            <key>size</key>
            <string>{1005,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56e3d5750e76033303cf20e869b5156:ea0b31f7bc456aca7663435d854faed8:8d7cdf16178e68b81f99eface750e818$</string>
            <key>textureFileName</key>
            <string>tp-game.png</string>
        </dict>
    </dict>
</plist>
